@import "~bootstrap/scss/bootstrap";

header {
    background-color: #ef233c;

    h1 {
        color: white;
        padding: 1rem 0;
    }
}

main {
    div.card {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        p {
            font-weight: bold;

            span {
                font-weight: normal;
            }
        }
    }
}
